<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <h1>Login Page</h1>
  <body>
    <form method="post" action = "/">
     Enter your name:
     <input type="text" name="username"><br>
     Enter your password:
     <input type="password" name="password"><br>
     <br>
     <button type="submit" name="Submit">Submit</button>
    </form>
  </body>
</html>
