<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      Name:<input type="text" name="name"><br>
      Username:<input type="text" name="username"><br>
      Password:<input type="password" name="pword"><br>
      Confirm password:<input type="password" name="pword2"><br>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
